body {
  padding-top: 6rem;
  font-family: allfonts;
  font-size: 18px;
  
}

.containerzile
{
    background-color: #333333;
    padding: 19px;
    color: white;
    text-align: center;  
    
    
}
.numezile
{
    font-weight: bold;
    border-right: 1px solid #fff; 
    padding: 9px;
    
}

.headerevenimente{
    background-color: #333333;
    padding: 14px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.urmevenimente{
    background-color: #666666;
    padding:1px;
    padding-left: 10%;
    color: white;
    font-size: 12px;
    text-align: left;
}
.urmevenimente a{ 
    color: white;
}

.urmevenimente:hover{
    background-color: #999999;
}

.zile {
    text-align: left;
    height: 100px;
    background-color: #666666;
    font-size: 16px;
    
    color: #fff;
    border: 1px solid #333333;
    
}
.zileempty {
    text-align: left;
    height: 100px;
    font-size: 16px;    
    border: 1px solid #333333;
}

.zile:hover{
    background-color: #999999;
}

#email {
    width: 100px;
}

#password {
    width: 100px;
}

.luna{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 20px;
    text-transform: uppercase;
}

.newback {    
    background: #666666;
    color: #fff;
}

.newheaders {
    background-color: #333333 !important;
    color: #fff !important;
    
}

.logout {
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    }

    @media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
  
  .addlink{
      color: #fff;
      font-size: 12px;
  }
}

.linkevent{
    font-size: 10px;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid #fff; 
    
}

.linkevent a {
    color: #fff;
    text-decoration: none;
}

.yellow {
    color: #ffe700;
}
.red {
    color: #ff0000;
}

@font-face{
    font-family: myfirstfont;
    src: url(fonts/Rollcage.otf)
}

@font-face{
    font-family: allfonts;
    src: url(fonts/OpenSans-Regular.ttf)
}

.vezititlu{
    font-family: myfirstfont;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
    
}

.vezidata{
   line-height: 25px;
   font-size: 1em;
}
.vezizi{
   font-weight: bold;
}
.veziluna{
   line-height: 10px;
   text-transform: uppercase;
   font-size: 1.5em;
}
.vezian{
   font-weight: bold;
}